.slick-prev,
.slick-next {
    width : 24px;
    height: 24px;
}

[class^="StyledComponents__ProductsWrapper"] .slick-slider {
    max-width: 100%;
    padding  : 0 6px;
}

[class^="StyledComponents__ProductsWrapper"]>div {
    display       : flex;
    flex-direction: column;
    max-width     : 100%;
    width         : 100%;
}

@media (max-width: 767px) {
    [class^="StyledComponents__ProductsWrapper"] .slick-slider {
        max-width: 100vw;
        padding  : 0 16px;
    }
}

@media (max-width: 1024px) {
    [class^="StyledComponents__ProductsWrapper"] .slick-slider {
        padding: 0 16px;
    }
}

[class^="StyledComponents__ProductsWrapper"] .slick-slide>div {
    display        : flex;
    justify-content: center;
}

[class^="StyledComponents__ProductsWrapper"] .slick-next {
    transform: rotate(270deg);
    top      : 40%;
    right    : -20px;
    z-index  : 1;
}

[class^="StyledComponents__ProductsWrapper"] .slick-next:before,
[class^="StyledComponents__ProductsWrapper"] .slick-prev:before {
    display: none;
}


[class^="StyledComponents__ProductsWrapper"] .slick-prev {
    transform: rotate(90deg);
    top      : 40%;
    left     : -20px;
    z-index  : 1;
}

[class^="StyledComponents__ProductsWrapper"] .slick-arrow.slick-disabled {
    opacity: 0.4;
}

@media screen and (max-width: 767px) {
    [class^="StyledComponents__ProductsWrapper"] .slick-next {
        right: 2px;
        top  : 45%;
    }

    [class^="StyledComponents__ProductsWrapper"] .slick-prev {
        left: 2px;
        top : 45%;
    }
}

@media screen and (max-width: 1024px) {
    [class^="StyledComponents__ProductsWrapper"] .slick-next {
        right: -6px;
        top  : 45%;
    }

    [class^="StyledComponents__ProductsWrapper"] .slick-prev {
        left: -6px;
        top : 45%;
    }
}

@media (min-width: 1366px) {
    [class^="StyledComponents__ProductsWrapper"] .slick-next {
        right: -25px;
    }

    [class^="StyledComponents__ProductsWrapper"] .slick-prev {
        left: -25px;
    }
}